#BACKEND IGNORE FILES


# compiled output
react-nest-feedback-app/backend/dist
react-nest-feedback-app/backend/node_modules

# Logs
react-nest-feedback-app/backend/logs
react-nest-feedback-app/backend/*.log
react-nest-feedback-app/backend/npm-debug.log*
react-nest-feedback-app/backend/yarn-debug.log*
react-nest-feedback-app/backend/yarn-error.log*
react-nest-feedback-app/backend/lerna-debug.log*

# OS
react-nest-feedback-app/backend/.DS_Store

# Tests
react-nest-feedback-app/backend/coverage
react-nest-feedback-app/backend/.nyc_output

# IDEs and editors
react-nest-feedback-app/backend/.idea
react-nest-feedback-app/backend/.project
react-nest-feedback-app/backend/.classpath
react-nest-feedback-app/backend/.c9/
react-nest-feedback-app/backend/*.launch
react-nest-feedback-app/backend/.settings/
react-nest-feedback-app/backend/*.sublime-workspace

# IDE - VSCode
react-nest-feedback-app/backend/.vscode/*
react-nest-feedback-app/backend/!.vscode/settings.json
react-nest-feedback-app/backend/!.vscode/tasks.json
react-nest-feedback-app/backend/!.vscode/launch.json
react-nest-feedback-app/backend/!.vscode/extensions.json


#FRONTEND IGNORE FILES

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-nest-feedback-app/frontend/node_modules
react-nest-feedback-app/frontend/.pnp
react-nest-feedback-app/frontend/.pnp.js

# testing
react-nest-feedback-app/frontend/coverage

# production
react-nest-feedback-app/frontend/build

# misc
react-nest-feedback-app/frontend/.DS_Store
react-nest-feedback-app/frontend/.env.local
react-nest-feedback-app/frontend/.env.development.local
react-nest-feedback-app/frontend/.env.test.local
react-nest-feedback-app/frontend/.env.production.local

react-nest-feedback-app/frontend/npm-debug.log*
react-nest-feedback-app/frontend/yarn-debug.log*
react-nest-feedback-app/frontend/yarn-error.log*